<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKufa0XOpDC0iPGfWSs5Fg5hB3p_ug2C4</string>
	<key>GCM_SENDER_ID</key>
	<string>106425559041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leeeunho.hansung.ac.kr.project-TurtleRun-2071394-LeeEunHo</string>
	<key>PROJECT_ID</key>
	<string>turtlerun-aa62b</string>
	<key>STORAGE_BUCKET</key>
	<string>turtlerun-aa62b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106425559041:ios:2cf73530e3ce22f9733800</string>
</dict>
</plist>